#popup{
  background-color: skyblue; 
  width: 200px; height: 200px; border-radius: 10px;
  position: fixed; /* 디바이스 위치 고정 */
  bottom: 50px; right: 10px;
  z-index: 2;
}
/* ==================================== */
#header{
  display: flex;
  border-bottom: 2px solid grey; background-color: white;
  position: sticky; /* 해당 구역이 가져질때 위치 고정 */
  top : 0px; /* 상단 고정 */
  z-index: 3; /*  다른 요소와 겹쳤을때 배치 우선순위 */
}
#header > ul { display: flex; }
/* ==================================== */
#parent{
  width: 500px; height: 500px; margin: 0 auto;
  background-color: beige;
  position: relative; /* 하위 요소들의 absolute 기준점 */
}
#parent > div{
  width: 100px; height: 100px;
  background-color: yellow;
  position: absolute; /* 절대위치 */
}
#box1{ top: 25px; left: 200px; }
#box2{ top: 125px; left: 75px; }
#box3{ top: 125px; left: 325px; }
#box4{ top: 250px; left: 75px; }
#box5{ top: 250px; left: 325px; }
#box6{ top: 350px; left: 200px; }
