/* css 주석 */

/* 1. *선택자 */
*{ color: red ;}

/* 2. 마크업명 */
h4{ color: yellow; }

/* 3. class속성 */
.구역1{ color: blue; }

/* 4. id 속성 */
#구역2{ color: green;}

/* 5. 자손 선택자 */
div h3 { color: aqua ;}

/* 6. 자식 선택자 */
div > h3{ color: brown; }
div > .구역3{ color: black; }
