*{ box-sizing: border-box;}
.box{
  background-color: black;  color: white;
  width: 10%; /* 부모 사이즈 에서 10%만 사용.*/
}
.container{
  display: flex; border: 3px solid red;
  /* width : 생략시 100% */
}

#flexbox1{ justify-content: flex-start; } /*[기본값] 왼쪽 부터 정렬*/
#flexbox2{ justify-content: flex-end; } /*오른쪽 부터 정렬*/
#flexbox3{ justify-content: center; } /*가운데 정렬*/
#flexbox4{ justify-content: space-between; } /* 양쪽 끝에 여백없이 사이 여백을 균등 정렬*/
#flexbox5{ justify-content: space-around; } /* 양쪽 끝에 여백은 사이 여백의 50% 하고 사이 여백을 균등 정렬*/
#flexbox6{ justify-content: space-evenly; } /* 양쪽 끝에 여백과 사이 여백을 균등 정렬*/


.flexbox1 , .flexbox2 , .flexbox3 , .flexbox4 , .flexbox5 {
  display: flex; width: 200px; border: 5px solid blue;
}

.box1 , .box2 , .box3 , .box4 , .box5 , .box6{ 
  background-color: red; color: white;
  border: 1px solid white;
}

.flexbox1{ align-items: stretch ;} /* [기본값] 자식요소들은 부모요소의 높이만큼 자동 늘어남*/
.flexbox2{ align-items: flex-start; } /* 부모 요소 윗변의 정렬 */
.flexbox3{ align-items: flex-end; }   /* 부모 요소 밑변의 정렬 */
.flexbox4{ align-items: center; }   /* 부모 요소 중앙 정렬 */
.flexbox5{ 
  align-items: baseline;  /* 내용물/컨텐츠 아래 기준으로 정렬 */
  flex-wrap: wrap;
} 

.box1{ width: 50; height: 50px; }
.box2{ width: 100px; height: 100px; }

.box4{ width: 50px; height: 80px; }
.box5{ width: 100px; height: 150px; display: inline-flex; align-items: center; }




